{% extends "base.html" %}
{% block content %}

    <div class="container" style="text-align: center">
        {% if user.is_authenticated %}
            <div style="width: 80%; margin: auto; padding-bottom: 30px">
                <form action="{% url 'search_recipes' %}" method="GET" class="row mb-3"
                      style="width: 100%;margin: auto;">
                    <div style="display: inline-block;width: 80%;padding: 0">
                        <input type="text" name="search_term" class="form-control p-2 search" value="{{ search_term }}"
                               placeholder="Search by title">
                    </div>
                    <div style="display: inline-block;width: 10%;padding: 0">
                        <button type="submit" class="btn p-2 text-light" style="background-color: #000000de">Search
                        </button>
                    </div>
            </div>
            </form>
            {#        {% else %}#}
            {#            <div class="col-3 pb-3" style="width:100%; font-family: 'Rowdies'">#}
            {#                <a href="/login">#}
            {#                    <button type="submit" class="btn btn-lg btn-danger p-3 m-1 "#}
            {#                            style="background-color: black!important; border: black!important;width: 50%;height: 55px">#}
            {#                        ADD NEW RECIPE#}
            {#                    </button>#}
            {#                </a>#}
            {#            </div>#}

        {% endif %}
        <div class="row">
            {% for r in recipes %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="max-width: 25rem;">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ r.image.url }}" height="305rem"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ r.name }}</h5>
                            <p class="card-text">{{ r.description |slice:":170" }}...</p>
                            <p class="card-text" style="display: flex">
                                <small class="text-muted pt-2" style="width: 70%">Created
                                    by {{ r.user.get_full_name }}</small>
                                <a href="{% url 'details' r.id %}" type="button" class="btn btn-outline-dark">See
                                    More</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



